<div class="container-fluid">
  <img src="https://images.ctfassets.net/3s5io6mnxfqz/5X7GRcGka8j6GEHST1JcRF/62902119b94f7d6cde40979570442d73/AdobeStock_144688387.jpeg" width="100%">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Number of members</th>
        </tr>
      </thead>

      <tbody>
        <tr (click)="onSelected(b)" *ngFor="let b of bandas">
          <td><dd>{{ b.id }}</dd></td>
          <td><dd>{{ b.name }}</dd></td>
          <td><dd>{{ b.numberOfMembers }}</dd></td>
        </tr>
      </tbody>
    </table>
    <p>Average number of members (rounded up): {{averageMembers}}</p>
  </div>
  <div class="col-sm-4">
    <div *ngIf="selected">
      <app-banda-detail [selectedBanda]= "selectedBanda" ></app-banda-detail>
    </div>
  </div>
</div>
